* {
  @apply box-border font-body
}

html {
  @apply scroll-smooth select-none
}


p {
  @apply text-justify
}

h1,h2,h3,h4,h5,h6,.title {
  font-family: 'BBH Sans Bartle', sans-serif;
}

h1{
  @apply text-2xl lg:text-4xl
}

h2 {
  @apply text-lg lg:text-2xl
}


ul::-webkit-scrollbar {
  @apply hidden
}

ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.v-enter-active,
.v-leave-active {
  @apply opacity-100 transition-all
}

.v-enter-from,
.v-leave-to {
  @apply opacity-0 translate-y-10 
}

.translate-enter-from {
  transform: translateX(-40px);
  opacity: 0;
}

.translate-leave-to {
  transform: translateX(-40px);
  opacity: 0;
}

.translate-enter-active,
.translate-leave-active {
  @apply transition-all duration-800;
}

.translate-enter-to,
.translate-leave-from {
  transform: translateY(0);
}

.translate-left-enter-from {
  transform: translateX(100%);
}

.translate-left-leave-to {
  transform: translateX(100%);
}

.translate-left-enter-active,
.translate-left-leave-active {
  @apply transition-all duration-800;
}

.translate-left-enter-to,
.translate-left-leave-from {
  transform: translateX(0); 
}

.navbar-child {
  @apply active:text-neutral-400 transition-all hover:text-neutral-400 h-8 flex items-center px-2 rounded-full relative z-10
}

#navbar {
  @apply m-4 transition-all duration-500 w-max mx-auto py-1 flex justify-center items-center gap-4 sticky px-1.5  backdrop-blur-xs z-50 rounded-full top-1.5 border
}

.navbar-highlight {
  @apply opacity-0 left-0 duration-500 transition-all h-8 bg-neutral-400/75 absolute rounded-full z-0
}

.bottom-buttons {
  @apply relative z-50 cursor-pointer h-8 aspect-square rounded-2xl transition-all duration-500 border border-neutral-500/50
}

.announcement-banner {
  @apply relative min-h-8 items-center flex justify-center bg-gradient-to-r from-emerald-500 to-teal-600 text-neutral-800 text-center
}