* {
  font-family: 'Rubik', sans-serif;
  @apply box-border
}
html {
  @apply scroll-smooth select-none
}

.title {
  font-family: 'BBH Sans Bartle', sans-serif;
}

p {
  @apply text-justify
}

h1{
  @apply text-2xl sm:text-4xl
}

h2 {
  @apply text-lg sm:text-2xl
}


ul::-webkit-scrollbar {
  display: none;
}
ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.v-enter-active,
.v-leave-active {
  @apply opacity-100 transition-all
}

.v-enter-from,
.v-leave-to {
  @apply opacity-0 translate-y-10 
}